html{
	width:100%;
	height:100%;
}
body {
	width:100%;
	height:100%;
	margin: 0 !important;
}

#mainArea{
	width:900px;
	margin:auto;
	height:100%;
}
#header{
	height:10%;
	-webkit-transition: 0.4s ;
	transition: 0.4s ;
	width:100%;
	border-bottom: solid 1px #2c2255;
	/*padding-top:100px;*/
	position:relative;
	top:80px;
	display: table;
}

#contentsArea{
	height:85%;
	width:100%;
	display: table;
	text-align:right;
}

#contents{
	padding-top:130px;
}

#contents2{
	padding-top:150px;
	margin-left:300px;
	text-align:left;
}

#subTitle{
	padding-top:30px;
	padding-bottom:10px;
	font-size:30px;
	color:#999;
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
}

#description{
	text-align:left;
	float:left;
}

table{
	text-align:left;
	border-collapse:collapse;
	margin-bottom:40px;
}

tr{
	width:200px;
	border-bottom:1px dashed #ccc;
}

th{
	text-align:left;
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
}

h2{
	margin:0;
	color:gray;
	font-size:25px;
	padding-top:10px;
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
}

h3{
	margin:0;
	color:gray;
	font-size:20px;
	padding-top:10px;
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
}

.recruit ul, ol {
  background: #fcfcfc;/*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
  border: solid 3px gray;/*線の種類 太さ 色*/
	margin-bottom:30px;
}

.recruit ul li, ol li {
  line-height: 1.5; /*文の行高*/
  padding: 0.5em 0; /*前後の文との余白*/
}

.tab{
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
	text-align:left;
	float:left;
}

#name{
	float:right;
	margin-right:5px;
}

.outline{
	font-size:14px;
	line-height:20px;
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
	color:#222;
}

.aboutOutLine{
	font-size:14px;
	line-height:20px;
	height:280px;
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
	color:#222;
}

.aboutOutLine2{
	font-size:14px;
	line-height:20px;
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
	color:#222;
}

.businessOutLine{
	padding-left: 20px;
	line-height:25px;
	float:left;
	font-size: 14px;
	font-family:  "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, sans-serif;
	color:#222;
}

#compassImage{
	vertical-align:bottom;
	display: table-cell;
	width:350px;
}

#menu{
float:left;
	text-align:left;
	margin-left:50px;
}

#HOME{
	padding-top:160px;
}

.menuImage{
	padding-top:20px;
	height:35px;
}
#footer{
	clear:both;
	height:5%;
	width:900px;
	margin:auto;
}

#foot{
	width:100%;
	/*border-top: solid 1px #999;*/
}

#copyLight{
	color:#aaa;
	font-size:12px;
	float:right;
}

#map{
	border: solid 1px #999;
	width:400px;
	height: 300px;
}

/* 2018年追記 Contact改修 */
.office_image,
.office_image img {
	width: 402px;
}

.office_image {
	margin: 0;
}

.mapPosition{
	width:400px;
	height: 300px;
	margin-bottom:50px;
	border: 1px solid #333;
}


/* ハンバーガー　ここから (追加：金井　2018/12/22)*/
/* ハンバーガー　クリックされていないときのボタン */
.toggle  {
  position: fixed;
  /* bodyに対しての絶対位置指定 */
    right: 13px;
  top: 13px;
  display: block;
  width: 45px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  background: #ccc;
}

.toggle span  {
  display: block;
  position: absolute;
  /* .toggleに対して */
    width: 70%;
  border-bottom: solid 3px #000;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  padding-top: 5px;
  right: 7px;
}

.toggle span:nth-child(1)  {
  top: 3px;
}

.toggle span:nth-child(2)  {
  top: 13px;
}

.toggle span:nth-child(3)  {
  top: 23px;
}

.toggle span:nth-child(4)  {
  border: none;
  top: 28px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
}

/* クリックされたときのボタン */
/* 最初のspanをマイナス45度に */
.toggle.active span:nth-child(1)  {
  top: 15px;
  left: 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3)  {
  top: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* クリックされていないときのグローバルメニュー。*/
/* .global_nav */
.global_nav  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 2;
  padding-top: 50px;
  /*    text-align: center;*/
    color: #000;
  /*    background: #ccc; */
    background: #4123a1;
  transition: all 0.8s;
}

.global_nav .nav_li  {
  width: 100%;
  padding: 10px;
  list-style-type: none;
}

.global_nav .nav_li a  {
  display: block;
  color: #fff;
}

/* クリックされたときのグローバルメニュー。*/
/* .global_navに.activeが追加 */
.global_nav.active  {
  transform: translateY(0%);
}



@media screen and (max-width: 1000px) {
	#mainArea{
		max-width:100%;
	}
	#header{
		width:100%;
	}

	#compassImage{
		max-width:350px;
		margin:0 auto;
	}
	#contentsArea{
		width:100%;
	}
	#menu{
		margin:0;
	}
	#contents2{
		max-width:600px;
		margin-left:151px;
	}
	#subTitle{
	font-size:25px;
	}

}

/* 600px以上の場合 */
@media screen and (min-width:600px)  {
  .toggle {
    display: none;
}
.toggle .active{
	display: none;
}


@media screen and (max-width: 375px) {
	#compassImage{
		width:100%;
		height:auto;
		display:inline-block;
		text-align:center;
	}
	#contents2{
		display:none;
}
